<div class="about-title">
		<p>关于 About</p>
</div>
<div class="container-about">

	<div class="about">
	
		<div class="about-title2">
			<p>亘心设计</p>
		</div>
		<div class="about-brief">
			<p>附属于集团房地产公司，既有传统的住宅、酒店项目建筑设计，利用3D打印建模；也有自己投资并参与和国外设计师合作的装置艺术设计等。我们给予建筑设计师完全的主动权，你有想法我们就能给予支持。我们就是一家行走在建筑与艺术之间的设计公司！</p>
		</div>
	</div>

</div>

