	<div class="contact-title">
		<p>联系 Contact</p>
	</div>
<div class="container-contact">

	<div class="contact">
		<div class="contact-title2">
			<p>地址</p>
		</div>
		<div class="contact-brief">
			<p>延安西路1600号301室,上海</p>
		</div>
	</div>
		<div class="contact">
		<div class="contact-title2">
			<p>邮箱</p>
		</div>
		<div class="contact-brief">
			<p>email: office@genxindesign.com</p>
		</div>
	</div>
			<div class="contact">
		<div class="contact-title2">
			<p>电话</p>
		</div>
		<div class="contact-brief">
			<p>021-62267091</p>
		</div>
	</div>
	
</div>
