
<div class="news-title">
		<p>新闻 News</p>
	</div>
<div class="container-news">
	
	<div class="news bg-light">
		<div class="news-title2">
			<p> 3d打印演讲</p>
		</div>
		<div class="news-brief ">
			<p>演讲介绍关于3d打印的知识</p>
		</div>
	</div>
	<div class="news  bg-light">
		<div class="news-title2">
			<p> 玩具改造采访</p>
		</div>
		<div class="news-brief">
			<p>采访小朋友，和小朋友一起玩玩具做视频</p>
		</div>
	</div>
		<div class="news  bg-light">
		<div class="news-title2">
			<p> 锄禾日当午</p>
		</div>
		<div class="news-brief">
			<p>汗滴禾下土</p>
		</div>
	</div>
</div>
