.navbar-img{
	width:100px;
}
#carouselControls{
	margin:0px;
}

.container-news {
	 width:80%;
  margin-left: auto;
  margin-right: auto;
}

.news{
	margin: 80px, 20px;
}
.news-title{
  padding: 40px 20px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(100,100,100);
}
.news-title2{
  padding: 10px 20px;
  font-size: 18x;
  font-weight: 500;
  color: rgb(60,60,60);

}
.news-brief{
  padding: 10px 20px;
  margin-bottom: 10px;
  color: rgb(122, 122, 122);
  font-size: 16px;
  line-height: 1.25;
}
.about-title{
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(60,60,60);
}

.about-title2{
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(60,60,60);
  text-align:center;
}
.container-about {
	 width:80%;
  margin-left: auto;
  margin-right: auto;
}
.contact-title{
  padding: 40px 20px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(100,100,100);
}
.contact-title2{
  padding: 10px 20px;
  font-size: 18x;
  font-weight: 500;
  color: rgb(60,60,60);
  text-align:center;
}
.contact-brief{
  padding: 10px 20px;
  margin-bottom: 10px;
  color: rgb(122, 122, 122);
  font-size: 16px;
  line-height: 1.25;
  text-align:center;
}

.about-brief{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  margin-bottom: 10px;
  color: rgb(122, 122, 122);
  font-size: 16px;
  line-height: 1.25;
  text-align:center;
}